<div class="w-100 header">
    <h2>Підбір ліків за показниками хворого</h2>
    <div class="menu-wrapper">
        <a href="/main" class="menu-item-wrapper">
            <img class="admin-img" src="/images/home.png">
        </a>
        <a href="/admin" class="menu-item-wrapper">
            <img class="admin-img" src="/images/admin_settings.png">
        </a>
    </div>
</div>