<div class="w-100 header">
    <h2>Підбір ліків за показниками хворого</h2>
    <div class="menu-wrapper">
        <div class="menu-item-wrapper" onclick="window.location.href = '\main'">
            <img class="admin-img" src="/images/home.png">
        </div>
        <div class="menu-item-wrapper" onclick="window.location.href = '\admin'">
            <img class="admin-img" src="/images/admin_settings.png">
        </div>
    </div>
</div>