<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
</head>
<body>
	<%- include('header') -%>
	<div class="container">
		<form action="/main/makeRequest" method="post">
			<h2 class="title">Симптоми(опишіть себе якомога точніше):</h2>
			<ul class="symptoms_container">
				<% symptoms.forEach(function(item) { %>
					<li class="item">
						<label class="checkbox_container">
							<%= item.name %>
							<input type="checkbox" name="symptom" id="<%= item.id %>" value="<%= item.id %>">
							<span class="checkmark"></span>
						</label>
					</li>
				<% }); %>
			</ul>
			<button class="submit">Підібрати ліки</button>
			<input type="checkbox" class="hidden" name="test" id="maincheck">
		</form>
	</div>
	<img src="/images/self.jpg" alt="s">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script>
		let checkedArr = [];
		let res = '';
		$('.symptoms_container').on('click', '.checkbox_container', (event) => {
			if($(event.target).hasClass('checkbox_container') === true){
				let input = $(event.target).find('input');
				let state = !input.prop('checked');

				if(state === true){
					checkedArr.push(input.attr('id'));
				} else {
					let index = checkedArr.indexOf(input.attr('id'));

					checkedArr.splice(index, 1);
				}
			}
			res = checkedArr.join(',');

			console.log(res);
			$('#maincheck').val(res);
		});

	</script>
</body>
</html>