<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin Settings</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
	<%- include('header') -%>
	<div class="container">
        <div class="split left">
            <div class="vertical-menu">
                <p href="#">Додати адміністратора</p>
                <p href="#">Додати препарат</p>
                <p class="active" href="#">Додати симптоми</p>
                <p href="#">Додати протипоказання</p>
                <p href="#">Змінити пароль</p>
                <p id='logout' href="#">Вийти</p>
            </div>
        </div>
        <div class="split right">
        </div>   
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/js/scripts.js"></script>
    <script>
        $('#logout').on('click', (e) => {
           logout(e);
        })
    </script>
</body>
</html>