@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
body{
	font-family: 'Open Sans Condensed', sans-serif;
}
.menu-wrapper{
    display: flex;
	position:absolute;
	top:2px;
	right:0;
}
.menu-item-wrapper{
	display: inline;
}
.menu-item-wrapper:hover{
	background-color: #2a6c3680;
	cursor: pointer;
}
.admin-img {
	height: 40px;
	margin: 10px;
}
.split {
	position: fixed;
	z-index: 1;
    top: 45px;
	overflow-x: hidden;
	padding-top: 20px;
}
.left {
	height: 100%;
	width: 20%;
	left: 0;
}
  
.right {
	height: 94vh;
    width: 80%;
    right: 0;
}

.vertical-menu {
    padding-right: 10px; 
}

.form-menu {
	margin-top: 25px;
}
.vertical-menu p {
    background-color: #19C537; 
    color: white; 
    display: block; 
	padding: 10px; 
	font-size: 20px;
	margin: 0;
    text-decoration: none; 
}

.vertical-menu p:hover {
    background-color: #219836;
}

.vertical-menu p.active {
    background-color: white; 
    color: #19C537;
}
  
.header{
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.25)!important;
	background-color: #19C537;
	height: 65px;
	padding: 15px 0 0 25px;
	color: #fff;

	margin-bottom: 15px;
	position: relative;
    z-index: 4;
}
.header h2{
	margin-top: 0;
}
.symptoms_container{
	list-style: none;
}
.symptoms_container li{
	display: inline-block;
	margin: 0 25px 5px 20px;
}
.title{
	margin-bottom: 25px;
}
.checkbox_container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 22px;
}

/* Hide the browser's default checkbox */
.checkbox_container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 5px;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox_container:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox_container input:checked ~ .checkmark {
	background-color: #3ad053;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkbox_container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox_container .checkmark:after {
	left: 6px;
	top: 1px;
	width: 7px;
	height: 14px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.submit{
	padding: 10px 25px;
	background-color: #fff;
	color: #47b359;
	border: 1px solid #47b359;
	font-size: 20px;
}
.submit:hover{
	background-color: #3ad053;
	color: #fff;
}
div.item{
	margin-bottom: 25px;
	min-height: 200px;
}
.item h3{
	font-weight: 700;
}
.item p{
	font-size: 19px;
}
h2{
	margin-bottom: 20px;
}
img{
	display: block;
	margin: 70px auto 0;
	max-height: 230px;
}